

.postbox .inside form:after { content:""; clear:both; display:table; }
.postbox .column { float:left; width:45%; margin:0 4% 1em 0; }
.postbox .column_right { border-left:2px solid #EEE; float:right; margin-right:0; padding-left:4%; clear:right; }
.postbox .column legend { font-weight:bold; }
.postbox .column fieldset { margin-bottom:15px; }
.postbox .column p.note { font-size:0.95em; margin:0 10px 10px; }


.postbox fieldset.antispam  label span { display:block; width:7em; float:left; clear:left; padding:0.3em 0 0 0; }
.postbox fieldset.antispam  label input { width:27em;}
.postbox fieldset.antispam  .tick input { width:auto; margin:0 0.5em 0 1em;}


table.widefat { margin:1em 0 1.5em; }
table.widefat th input.button-primary { font-family:Arial, Helvetica, sans-serif; padding:0.2em 0.7em; }
table.widefat .ctrl { width:2em; text-align:center; }
table.widefat .date { width:10em; }

.mce-toolbar .mce-i-tailored_tools:before { content:url(mce-icon.gif); }