

form#enquiries { margin:2em 0 4em; }

.postbox h3.hndle { margin-top:0; }
.postbox .inside form:after { content:""; clear:both; display:table; }
.postbox .column {  margin:0 1em 1em; box-sizing:border-box; }
.postbox .column legend { font-weight:bold; font-size:1.1em; }
.postbox .column fieldset { margin-bottom:15px; }
.postbox .column p label { display:block; cursor:pointer; }
.postbox .column p label span { }
.postbox .column p.note { font-size:0.95em; margin:0 10px 10px; }
.postbox .column p.tick label { display:inline-block; padding-right:1em; }

.postbox fieldset.antispam p label span { display:inline-block; min-width:6em; }
.postbox fieldset.antispam p label input[type=text] { width:26em; max-width:100%; }

@media only screen and (min-width: 720px) {
	.postbox .column { width:45%; float:left; }
	.postbox .column_left { float:left; }
	.postbox .column_right {  float:right;}
}

table.widefat { margin:1em 0 1.5em; }
table.widefat th input.button-primary { font-family:Arial, Helvetica, sans-serif; padding:0.2em 0.7em; }
table.widefat .ctrl { width:2em; text-align:center; }
table.widefat .date { width:10em; }

table.widefat tbody th, table.widefat tbody td { background:#f9f9f9; }
table.widefat tbody tr th, table.widefat tbody  tr td { border-top:1px solid #DDD; }
table.widefat tbody  tr:first-child > th, table.widefat tbody  tr:first-child > td { border-top:0; }
table.widefat tr.more { background:none; }
table.widefat tr.more td { border-top:0; }
table.widefat p { margin:0 0 1em 0; }
table.widefat p:last-child { margin-bottom:0; }

.mce-toolbar .mce-i-tailored_tools:before { content:url(mce-icon.gif); }