
/**
 *	Mobile-First Form Rules
 */

form.tws { }
form.tws p, form.tws div.recaptcha, form.tws div.ayah_box { padding:0; margin:0 0 10px 0; clear:left; }
form.tws p label {		display:block; cursor:pointer; }
form.tws p label span {	width:30%; display:block; float:left; padding:3px 4% 0 0; text-align:right; }
form.tws p .txt {		width:60%; border:1px solid #CCC; background-color:#FFF; padding:4px; border-radius:4px;  padding:2px 5px; }
form.tws p textarea.txt { height:5em; }
form.tws p input.datepicker { width:9em; }

form.tws p .txt:focus { border-color:#AAA; box-shadow:2px 2px 4px #CCC; }

form.tws p.sep { font-size:0.7em; line-height:1em; }
form.tws p.radio label { padding:0.3em 0.2em 0;  }
form.tws p.radio label input { width:auto; border:0; background:none; margin:0 0.5em 0 1em; }

form.tws p.block label { margin-bottom:0.9em; }
form.tws p.block label span { float:none; width:auto; padding:0; }
form.tws p.block label .txt { width:90%; margin:0 auto; }

form.tws fieldset { margin:1em 0 1.5em; padding:0; border:0; clear:both; }
form.tws fieldset legend { margin:1em 0 0.5em; padding:0; font-weight:bold; display:block; width:90%; white-space:normal; }

form.tws p.submit { padding:5px; text-align:center;}
form.tws p.submit input { margin:0; width:auto; padding:0.4em 1.2em; cursor:pointer; border-radius:0.4em; }

p.error, p.success { padding:0.8em 1.1em; border-radius:0.3em; }
p.error		{ border:1px solid #900; background:#fdfafa url(exclaim.gif) top right no-repeat;; }
p.success	{ border:1px solid #060; background:#f2f7f2; }

form.tws label.error { display:none !important; }
form.tws p .error, form.tws p .error:focus,
form.tws .error, form.tws .error:focus { border-color:#900; background-color:#FDFAFA; }


/**
 *	Responsive Form Rules - for larger screens
 */
@media only screen and (min-width: 700px) {
	form.tws p label span {		width:8em; padding:3px 0 0 0; text-align:inherit; }
	form.tws p .txt {			width:25em; }
	form.tws p textarea.txt {	height:7em; }
	form.tws p select.txt {		width:25.7em; }
	form.tws p input.datepicker { width:9em; }
	form.tws p.submit { 		padding-left:8em; text-align:left; }
	form.tws div.recaptcha, form.tws div.ayah_box { margin-left:8em; }
}



/**
 *	jQuery UI Datepicker
 */
.ui-datepicker { background:#FFF; border:1px solid #CCC; padding:0.5em; box-shadow:2px 2px 4px #CCC; border-radius:0.3em; font-size:1.3em; }
.ui-datepicker .ui-datepicker-header a { float:left; display:block; width:16px; height:16px; background:url(icons.png) top right no-repeat; text-decoration:none; cursor:pointer; }
.ui-datepicker .ui-datepicker-header a.ui-datepicker-next { float:right; background-position:top left; }
.ui-datepicker .ui-datepicker-header a span { display:block; font-size:1px; text-indent:-2999px; }
.ui-datepicker .ui-datepicker-header .ui-datepicker-title { text-align:center; }

.ui-datepicker .ui-datepicker-calendar { }
.ui-datepicker .ui-datepicker-calendar th, .ui-datepicker .ui-datepicker-calendar td { text-align:center; }
.ui-datepicker .ui-datepicker-calendar th { padding:0.2em; }
.ui-datepicker .ui-datepicker-calendar td { }
.ui-datepicker .ui-datepicker-calendar a { display:block; padding:0.2em; }
.ui-datepicker .ui-datepicker-calendar a:hover { background:#c7dfef; }
.ui-datepicker .ui-datepicker-calendar a.ui-state-active { background:#c7efeb; }


/**
 *	jQuery UI Tabs
 */
.ui-tabs { margin:0.5em 0 1.5em; }
.ui-tabs .ui-tabs-panel { clear:both; border:1px solid #EEE; background:#FFF; border-top:3px solid #d2232a; padding:1px; }
.ui-tabs .ui-tabs-hide { display:none; }
.ui-tabs .ui-tabs-nav:after { clear:both; content:"."; display:block; height:0; visibility:hidden; }
.ui-tabs .ui-tabs-nav { margin:0; padding:0; width:100%; background:none; padding-top:10px; }
.ui-tabs .ui-tabs-nav li { display:inline; margin:0; padding:0; }
.ui-tabs .ui-tabs-nav li a { display:block; float:left; text-decoration:none; padding:0.5em 0.9em; margin:0 3px 0 0; 
							color:#626060; background:#d7d6d6; border-radius:0.4em 0.4em 0 0; }
.ui-tabs .ui-tabs-nav li.ui-tabs-selected {  }
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a { color:#FFF; background:#d2232a; }
.ui-tabs .ui-tabs-nav { border-radius:0.4em 0.4em 0 0; }
.ui-tabs .tab_panel { padding:0.5em 0.8em; border-radius:0 0 0.4em 0.4em; }
.ui-tabs .tab_panel h1, .format_text .ui-tabs .tab_panel h2 { display:none; }
.ui-tabs .tab_panel:after { clear:both; content:"."; display:block; height:0; visibility:hidden; }

